.box-container {
    border: black solid 3px;
}

.box-1 {
    background-color: blue;
    width: 100px;
    height: 100px;

    position: relative;
    top: 50px;
    left: 50px;

    z-index: -1;
}

.box-2 {
    background-color: rgb(210, 55, 27);
    width: 100px;
    height: 100px;

}

.box-3 {
    background-color: rgb(119, 188, 128);
    width: 100px;
    height: 100px;

    position: absolute;
    top: 100px;
    left: 100px;
}

.box-4 {
    background-color: rgb(232, 211, 17);
    width: 100px;
    height: 100px;
}