.box-container {
    border: solid black 1px;
    display: flex;
}

.box-default {
    width: 100px;
    height: 100px;
    border: solid black 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#box-1 {
    background-color: var(--alabaster);

    display: flex;
    justify-content: end;
    align-items: end;
}

#box-2 {
    background-color: var(--ash-gray);
}

#box-3 {
    background-color: var(--verdigris);
}

#box-4 {
    background-color: var(--bittersweet);
}