.box-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px;
}

.box-1 {
    background-color: red;
}

.box-2 {
    background-color: blue;
}

.box-3 {
    background-color: blueviolet;
}

.box-4 {
    background-color: green;
}