:root {
    --bittersweet: rgb(237, 106, 90);
    --bittersweet-50: rgb(237 106 90 / 50%);
    --bittersweet-25: rgb(237 106 90 / 25%);
    --ash-gray: rgb(155, 193, 188);
    --ash-gray-50: rgb(155 193 188 / 50%);
    --ash-gray-25: rgb(155 193 188 / 25%);
    --verdigris: rgb(92, 164, 169);
    --verdigris-50: rgb(92 164 169 / 50%);
    --verdigris-25: rgb(92 164 169 / 25%);
    --alabaster: rgb(230, 235, 224);
    --alabaster-50: rgb(230 235 224 / 50%);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-left: 32px;
    padding-right: 32px;
}

.header {}

nav {
    background-color: var(--verdigris);
    padding: 8px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: var(--alabaster);
}

nav a:hover {
    color: var(--bittersweet);
}

footer {
    display: flex;
    justify-content: center;
    color: var(--alabaster);
    background-color: var(--verdigris);
    padding: 32px;
}