/* element selector */
p {
    color: #ff0000;
}

/* class selector */
.green {
    color: #008000;

}

/* id selector */
#violet {
    color: #6d0e68;
}

/* box class */
.default-box {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 5px;
}

#box-1 {
    background-color: #008000;
    width: 300px;
    height: 300px;
}

#box-2 {
    background-color: #b71c96;
}

#box-3 {
    background-color: #43c7ef;
}

#box-4 {
    background-color: #d8d625;
}